torch==1.13.0
torchvision==0.14.0
opencv-python-headless==4.7.0.72
scikit-image==0.20.0
scipy==1.9.1
lmdb==1.4.1
pillow==9.5.0
nltk==3.8.1
natsort==8.3.1
six==1.16.0
fastapi==0.95.1
uvicorn[standard]==0.21.1
python-multipart==0.0.6
jinja2==3.1.2
gdown==4.7.1

protobuf==3.19.6
tensorflow==2.10.1
tensorflow_datasets==4.9.0
tensorflow-text==2.10.0
transformers==4.28.1
